@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
}

.header-container, .hero-container {
    padding: 15px 200px;
    background-color: #1f2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.hero-container {
    display: flex;;
    padding-bottom: 30px;
    gap: 30px;
    justify-content: space-between;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.hero-text-container .hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero-text-container .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    width: 90px;
    height: 35px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: 0;
}

.manila-img {
    max-width: 50%;
}



.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f372a;
}

.info-container h1 {
    font-size: 36px;
    font-weight: 900;
    
}

.card-container { 
    display: flex;
    gap: 25px;
}

.cards {
    display: flex;
    width: 250px;
    flex-direction: column;
    height: auto;
    text-align: center;
}

.cards img{
    border-radius: 15px;
}